body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .calculadora {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
  }
  
  #pantalla {
    width: 100%;
    height: 40px;
    font-size: 1.5em;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  
  .botones {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-gap: 10px;
  }
  
  .btn {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #555;
  }
  
  .operador {
    background-color: #f57c00;
  }
  
  .operador:hover {
    background-color: #fb8c00;
  }
  